@page
@model CoreWebApp.Views.Home.OverviewModel
@{
}

@foreach (var category in Model.CategoryEntries)
{
<table class="table table-striped">
    <caption>List of all category entries</caption>
    <thead class="thead-light">
        <tr>
            <th scope="row" colspan="4" class="text-center">@category.CategoryName</th>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().ImageData)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Number)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Name)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model.LearningDataEntries.Where(x => x.CategoryId == category.CategoryId).OrderBy(x => x.Number))
    {
        <tr>
            <td><img src="data:image/png;base64,@Html.DisplayFor(model => entry.ImageData)" alt="Image for @Html.DisplayFor(model => entry.Name)" width="75" height="50" /></td>
            <td>@Html.DisplayFor(model => entry.Number)</td>
            <td>@Html.DisplayFor(model => entry.Name)</td>
        </tr>
    }
    </tbody>
</table>
}