@page
@model CoreWebApp.Views.Home.OverviewModel
@{
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Id)</th>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Number)</th>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().Description)</th>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().ImageTitle)</th>
            <th>@Html.DisplayNameFor(model => model.LearningDataEntries.FirstOrDefault().ImageData)</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var entry in Model.LearningDataEntries)
    {
        <tr>
            <td>@Html.DisplayFor(model => entry.Id)</td>
            <td>@Html.DisplayFor(model => entry.Number)</td>
            <td>@Html.DisplayFor(model => entry.Name)</td>
            <td>@Html.DisplayFor(model => entry.Description)</td>
            <td>@Html.DisplayFor(model => entry.ImageTitle)</td>
            <td><img src="data:image/png;base64,@Html.DisplayFor(model => entry.ImageData)" /></td>
        </tr>
    }
    </tbody>
</table>